{% include '::header.html.twig' %}

{% include '::navigation.html.twig' %}

{% block stylesheets %}
    <style>
        table tfoot td {
            background-color: #bbb;
            text-align: center;
            font-weight: bold;

        }
        .chartLink {
            color: #1365c4;
            text-decoration: none !important;
        }
        .chartLink:hover {
            color: #0000c4;
            text-decoration: underline ;
        }
        body {
            /*background-image: url('/ver3/web/images/spring.jpg');*/
            /*background-repeat: no-repeat;*/
            /*background-attachment: fixed;*/
        }
        .tableHolder {
            opacity:0.93;
        }
        .chartBox {
            opacity:0.9;
        }

        .headline {
            color:#000;
        }
        #example tbody td{
            font-size: 12px;
        }
        .yellowLine {
            background-color: #d8d5b5 !important;
        }
        input [type=text], select {
            float: left;
        }
    </style>
{% endblock %}

<body>
{% block body %}
{% set emptyarr = {'ordType': '', 'ordSource': '', 'group': ''} %}
{% set queryarr = app.request.query.all %}
{% set qp = emptyarr|merge(queryarr) %}
<div class="main" ng-controller="MainController">

    <h3 class="headline"  style="width: 1421px;">PhoneOrder - {{ title }} Statistic</h3>

    <div style="clear:both"></div>
    <div class="tableHolder" style="width: 1400px;">
        <h4></h4>
        <form>
            <div style="width:36%;float:left; margin-top: 16px;">
                <table >
                    <tbody>
                    <tr>
                        <td>
                            Call Type:
                        </td>
                        <td>
                            <select id="ordType" name="ordType">
                                <option value="">ALL</option>
                                <option value="1">ORDER</option>
                                <option value="2">OTHER</option>
                            </select>
                            <div class="resetSelectField" onclick="resetSelectField('ordType');">X</div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Order source:
                        </td>
                        <td>
                            <select id="ordSource" name="ordSource">
                                <option value="">ALL</option>
                                <option value="1">Page Order</option>
                                <option value="2">SMS Bulk order</option>
                                <option value="3">Print Order</option>
                                <option value="4">SMS Reorder</option>
                                <option value="5">Vip Mails </option>
                            </select>
                            <div class="resetSelectField" onclick="resetSelectField('ordSource');">X</div>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            Group by:
                        </td>
                        <td>
                            <select id="group" name="group">
                                <option value="">ALL BY CALL CENTAR</option>
                                <option value="1">ALL BY COUNTRIES</option>
                            </select>
                            <div class="resetSelectField" onclick="resetSelectField('group');">X</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Date from:
                        </td>
                        <td>
                            <input name="from" type="text" id="datumFrom" placeholder="" onclick="$(this).datepicker();" style="width:90px;" value="{{ from }}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Date to:
                        </td>
                        <td>
                            <input name="to" type="text" id="datumTo" placeholder=""onclick="$(this).datepicker();"  style="width:90px;" value="{{ to }}">
                        </td>
                        <td>
                            <button class="bigOrder GreyBtn" onclick="SearchFormSimple.search(this);" style="margin-top:0px;    margin-left: -124px;cursor:pointer;width: 120px;height: 40px;font-size: 16px;">Search</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </form>
    </div>
    <div style="clear:both"></div>

    <div style="clear:both"></div>
    <div class="tableHolder" style="padding: 10px 10px 0 10px;width: 1400px;">

        <div class="dayTable" style="width: 1400px;">
            {% autoescape %}
                {{ _html|raw }} {# var won't be escaped #}
            {% endautoescape %}
        </div>
    </div>

    <div class="legendHolder" style="width: 1421px;">

        <div class="legendBox" style="width:660px;margin-left:40px;">
            <div class="legendItem" style="border-bottom:1px dotted #ccc;"><strong>Calculation stats</strong></div>
            <div class="legendItem"><strong>Orders </strong> - Order successfull + Order Cancelled</div>
            <div class="legendItem"><strong>Order %</strong> - Order sucessfull / Calls * 100</div>
            <div class="legendItem"><strong>Other %</strong> - Other / Calls * 100</div>
            <div class="legendItem"><strong>Canceled %</strong> - Order cancelled / Orders * 100</div>
            <div class="legendItem"><strong>Upsell %</strong> - Upsells/ Order sucessfull * 100</div>

        </div>
    </div>

    <div style="clear:both"></div>
    <div class="tableHolder" style="background-color:#fbfbfb;font-size:14px;width: 1400px;">
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){

            //initDataTable();

            $('#example').DataTable({
                "paging": false,
                "ordering": true,
                "searching": false,
                //"lengthMenu": [[100, 250, 500, -1], [100, 250, 500, "All"]]
            });


            $('#datumFrom,#datumTo').datepicker({
                dateFormat: "yy-mm-dd"
            });

            getToOption('group','group');
            getToOption('ordType','ordType');
            getToOption('ordSource','ordSource');


        });


    </script>
{% endblock %}
</body>

</html>