{% include '::header.html.twig' %}

{% include '::navigation.html.twig' %}

{% block stylesheets %}

    <style>
        .ui-datepicker-calendar {
            display: none;
        }
        .ui-datepicker-month {
            display: none;
        }
        .ui-datepicker-next,.ui-datepicker-prev {
            display:none;
        }
        .titleBox {
            width:100px;
            height:30px;
            line-height:30px;
            font-size:14px;
        }
        .listBox {
            width:100px;
            height:29px;
            line-height:30px;
            font-size:14px;
        }
        .sirokiBox {
            width:233px;
        }
        .tableLine {
            height: 30px;
        }
        .dLeft {
            margin-left:30px;
            float:left;
            width:300px;

        }
        .dRight {
            margin-left:20px;
            float:left;
            width:300px;

        }
        table tfoot td {
            background-color: #bbb;
            text-align: center;
            font-weight: bold;

        }
        .campStat{
            position:fixed;
            width: 800px;
            height: 800px;
            background-color: #e5e5e5;
            border: 1px solid #aaa;
            padding: 15px;
            left:50%;
            top:50%;
            margin-left: -400px;
            margin-top: -400px;
            z-index: 2000;
        }
        .showCampField{
            font-size: 14px;
            font-weight: bold;
        }
        .campStatTab {
            width: 777px;
        }
        .campStatTab tr {
            background-color: #d0d0d0;
        }
        .messagePopup{
            position: fixed;
            width: 800px;
            height: 600px;
            background-color: #e5e5e5;
            border: 1px solid #aaa;
            padding: 15px;
            left: 50%;
            top: 50%;
            margin-left: -400px;
            margin-top: -400px;
            z-index: 2000;
        }
        table.dataTable, table.dataTable th, table.dataTable td {
            padding: 7px 10px!important;
        }
        .main{
            margin-top: 40px;
        }
    </style>
{% endblock %}


<body>
{% block body %}
    {% set emptyarr = {'year': ''} %}
    {% set queryarr = app.request.query.all %}
    {% set qp = emptyarr|merge(queryarr) %}
    <div class="main" style="width:99%;left:0px;margin-left: 5px;">

        <h3 class="headline"  style="width:1841px;">{{ title }}</h3>

        <div style="clear:both"></div>
        <div class="tableHolder"  style="width:1820px;">
            <form id="forma">
                <table>
                    <tbody>


                    <tr>
                        <td style="padding-left: 50px;">
                            Year:
                        </td>
                        <td>
                            <input name="year" type="text" id="year" placeholder="" onclick="$(this).datepicker();"  style="width:90px;" value="{{ year }}">

                        </td>
                        <td>
                            <div class="container">
                                <div class="col-sm-6" style="height:130px;">
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker9'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar">
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </td>

                        <td >
                            <button class="bigOrder GreyBtn" onclick="SearchFormSimple.search(this);" style="margin-top:0px;cursor:pointer;width: 120px;height:40px;font-size:16px;">Search</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div style="clear:both"></div>
        <div class="tableHolder"  style="padding: 10px 10px 0 10px;width:1820px;">
            <div class="dayTable" style="width: 1820px;">
                {% autoescape %}
                    {{ _html|raw }}
                {% endautoescape %}
            </div>
        </div>

        <div class="legendHolder" style="width:1841px;">
        </div>
        <div style="clear:both"></div>
        <div class="tableHolder" style="background-color:#fbfbfb;font-size:14px;width:1820px;">
            infomedia © {{ "now"|date("Y") }} - <i>phoneorder</i>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('#datetimepicker9').datetimepicker({
              //  dateFormat: "yyyy",
                viewMode: 'years'
            });

//
//            $('#datepicker').datepicker({
//                changeYear: true,
//                showButtonPanel: true,
//                dateFormat: 'yy',
//                onClose: function(dateText, inst) {
//                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
//                    $(this).datepicker('setDate', new Date(year, 1));
//                }
//            });
//            $(".date-picker-year").focus(function () {
//                $(".ui-datepicker-month").hide();
//            });

            $('#example').DataTable( {
                // "dom": '<"pull-left"f><"pull-right"l>tip',
                fixedHeader: true,
                bottom: true,
                zTop: 5,
                zBottom: 5,
                bPaginate: false,

            } );



        });
//        $(function () {
//            $('#datetimepicker9').datetimepicker({
//                viewMode: 'years'
//            });
//        });

        function crkni(){
            $('.datetimepicker-minutes').attr('hidden', true);
            $('.datetimepicker-hours').attr('display', 'none');
            $('.datetimepicker-days').attr('display', 'none');
            $('.datetimepicker-months').attr('display', 'none');
            $('.datetimepicker-years').attr('display', 'block');
        }

        /***** inicializovanja data table *******/
        function initDataTable(){
            $('#example').dataTable({
                fixedHeader: true,
                sDom: "",
                "bDestroy": true,
                "bPaginate": false,
                "bFilter": false,
                "bSortCellsTop": true,
                "aaSorting": [[ 0, "asc" ]],
                "aoColumns": [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,

                ],


            });
        }


    </script>
{% endblock %}
</body>
